body {
  background-color: #f5f2b8;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

/* Header */
.donut-logo {
  background-color: #f9dad0;
  color: white;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hours-top {
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-top {
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-logo img {
  width: 200px;
}

.header img {
  height: 250px;
  width: auto;
}

/* Page Container */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 42px;
}

/* Footer */

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100vw;
  background-color: #a491d3;
  color: #f9dad0;
  font-weight: 900;
  font-size: 1.2em;
  margin: 0px;
}

.footer-container img {
  width: 135px;
}

/* suggestions box */
.todays-suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 70vw;
  height: 1000px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #818aa3;
  color: #f9dad0;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
}

.cards > .info {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  width: 100%;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}

.price {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

/* quick-view menu */

.menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  margin-left: 20px;
  position: relative;
  background: #818aa3;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #f5f2b8;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 300px;
  height: auto;
  margin: -45px 0 0 -10px;
  padding: 50px 0px 10px 0px;
  background: #a491d3;
  border-radius: 5px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  box-shadow: 18px 17px 26px -12px rgba(0, 0, 0, 0.75);
}

.line {
  color: #c5dca0;
  height: 42px;
  transform: rotate(-45deg);
}

.letter-button {
  outline: none;
  padding: 10px;
  width: 100%;
  color: white;
  background: #a491d3;
  border: 1px solid #f9dad0;
  border-right: none;
  border-radius: 0px;
  font-size: 1.2em;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.letter-button:hover {
  outline: none;
  width: 100%;
  color: white;
  background: #8463da;
  border: 1px solid #f9dad0;
  font-size: 1.2em;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

.menuToggle input:checked ~ ul {
  transform: none;
}
