body {
  background-color: #f5f2b8;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

/* Header */

.donut-logo {
  background-color: #f9dad0;
  color: white;
  width: 100vw;
}

.donut-logo img {
  width: 200px;
}

.header img {
  height: 250px;
  width: auto;
}

/* Page Container */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 42px;
}

/* Footer */

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100vw;
  background-color: #a491d3;
  color: #f9dad0;
  font-weight: 900;
  font-size: 1.2em;
  margin: 0px;
}

.footer-container img {
  width: 135px;
}

/* suggestions box */
.todays-suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 70vw;
  height: 1000px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #818aa3;
  color: #f9dad0;
  margin: 20px;
  border-radius: 10px;
  width: 300px;
}

.cards > .info {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  width: 100%;
}

.description {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}

.price {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
